<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pavaso Management by Practability</title>

    <environment include="Development">

        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        @*<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">*@
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        @*<link href="~/css/font-awesome.css" rel="stylesheet" />*@
        <link href="~/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="~/assets/css/bootstrap.css" />

        <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
        <link rel="stylesheet" href="~/assets/css/bootstrap_limitless.css" />
        <link rel="stylesheet" href="~/assets/css/layout.css" />
        <link rel="stylesheet" href="~/assets/css/components.css" />
        <link rel="stylesheet" href="~/assets/css/colors.css" />
        <!-- /global stylesheets -->
        <!-- Core JS files -->
        <script src="~/global_assets/js/main/jquery.min.js"></script>
        <script src="~/global_assets/js/main/bootstrap.bundle.min.js"></script>
        <script src="~/global_assets/js/plugins/loaders/blockui.min.js"></script>
        <script src="~/global_assets/js/plugins/ui/ripple.min.js"></script>
        <!-- /core JS files -->
        <!-- Theme JS files -->
        <script src="~/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
        <script src="~/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
        <script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
        <script src="~/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
        <script src="~/global_assets/js/plugins/forms/selects/select2.min.js"></script>
        <script src="~/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
        <script src="~/global_assets/js/plugins/ui/moment/moment.min.js"></script>
        <script src="~/global_assets/js/plugins/pickers/daterangepicker.js"></script>

        <script src="~/global_assets/js/plugins/ui/perfect_scrollbar.min.js"></script>



        <script src="~/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
        <script src="~/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
        <script src="~/global_assets/js/plugins/forms/validation/validate.min.js"></script>
        <script src="~/global_assets/js/plugins/extensions/cookie.js"></script>


        <script src="~/assets/js/app.js"></script>
        @*<script src="~/global_assets/js/demo_pages/dashboard.js"></script>*@

        <script src="~/global_assets/js/layout/layout_fixed_sidebar_custom.js"></script>




        <script src="~/global_assets/js/pages/layout/content_page_header.js"></script>
        <script src="~/global_assets/js/pages/forms/form_wizard.js"></script>

        <script src="~/assets/js/custom.js"></script>
        <!-- /theme JS files -->

        <link rel="stylesheet" href="~/css/site.css" />

    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@

        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" asp-append-version="true" />
    </environment>

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }


</head>
<body class="navbar-top">
    <!-- Main navbar -->
    @await Html.PartialAsync("_AuthenicatedMainNavbar")

    @*<partial name="_AuthenicatedMainNavbar" />*@
    <!-- /main navbar -->

    <partial name="_CookieConsentPartial" />

    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        @await Html.PartialAsync("_AuthenicatedMainSidebar")
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            @await Html.PartialAsync("_AuthenicatedPageHeader")
            <!-- /page header -->
            <!-- Content area -->
            <div class="content">

                @RenderBody()

            </div>
            <!-- /content area -->
            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light fixed-bottom">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; @DateTime.Now.Year.ToString() - <a href="http://Practability.com" target="_blank">Practability.com</a>
                    </span>
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item"><a href="#support" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                        @*<li class="nav-item"><a href="https://www.Practability.com" class="navbar-nav-link" target="_blank"><i class="glyphicon-door mr-2"></i> Practability</a></li>*@
                        <li class="nav-item"><a href="#docs" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->


    @RenderSection("Scripts", required: false)
</body>
</html>
